# next.js
.next/

# node modules
node_modules/

# version control
.git/

# env files
.env*

# markdown
*.md

# log files
*.log

# firebase emulator
firebase_dev/firebase/

# gcs emulator
gcs_dev/

# public directory
public/